
@{
    Layout = null;
}
<a href="~/Content/bootstrap.min.css.map">~/Content/bootstrap.min.css.map</a>
<h1>Yeni Kategory Ekleme Sayfası</h1>

<br />
Hoş geldiniz!
<form class="form-group" method="post">
    <input type="text" placeholder="Kategory Adı" name="CategoryName" class="form-control" />
    <br />
    <input type="text" placeholder="Açıklama" name="CategoryDescription" class="form-control" />
    <br />
    <button class="btn btn-primary">Ekle</button>
    </form>