
@{
    Layout = null;
}

<h3>MVC proje örneği</h3>
<br />  
<table>
    <tr>
        <th> ID</th>
        <th> Adi </th>
        <th> Açıklama </th>
        <th> Durum</th>
        
    </tr>
    <tr>
        <td>1</td>
        <td>Spor</td>
        <td>Skor</td>
        <td>True</td>
    </tr>
</table>
